/*CSS属性书写顺序*/
/*1.布局定位属性:display position float clear visibility overflow*/
/*2.自身属性: width height margin padding border background*/
/*3.文本属性:color font text-decoration text-align vertical-align white-space break-word*/
/*4.其他属性 content cursor border-radius box-shadow text-shadow background:linear-gradient ..*/

/*css 初始化代码 css reset*/

/*清除元素默认的内外边距*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F5F7;
}

/*清除列表样式*/
li {
    list-style: none;
}

/*去掉button 默认自带的边框*/
button {
    border: none;
}


/*版心,1200px 水平居中*/
.w {
    width: 1200px;
    margin: auto;
}

/*header start*/
.header {

    height: 42px;
    /*background-color: pink;*/
    /*上外边距*/
    margin: 30px auto;
}

.nav {
    float: left;
}

.logo {
    float: left;
    margin-right: 60px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 40px;
    color: #050505;
    text-decoration: none;
    font-size: 18px;


}

/*鼠标经过链接,才有底边框*/
.nav ul li a:hover {
    border-bottom: 2px solid #0AA4FF;
}

.search {
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #0AA4FF;
    padding-left: 20px;
    color: #ccc;
}

.search button {
    /*input button两个父亲盒子虽然是浮动了,但是两个子元素还是行内块 行内块之间有缝隙 所以要浮动解决缝隙*/
    float: left;
    width: 50px;
    height: 42px;
    /*图片差2个像素,但是直接平铺,就不会有空了*/
    background: url(images/search.jpg);
}

.user {
    float: left;
    height: 42px;
    margin-left: 30px;
    line-height: 42px;
    color: #666666;
    font-size: 14px;
}

.banner {
    height: 420px;
    background: url(images/banner2.jpg) #1B036D no-repeat center;
}

.subnav {
    float: left;
    width: 150px;
    height: 420px;
    padding: 0 20px;
    /*背景半透明*/
    background: rgba(0,0,0,.3);
}

.subnav li {
    height: 46px;
    line-height: 46px;
}

.subnav ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.subnav ul li a:hover {
    color: #0AB4FF;
}

.subnav ul li a span {
    float: right;
}

.course {
    /*因为course 子盒子有了浮动,则就不会有外边距塌陷的问题了*/
    float: right;
    width: 228px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.course-hd {
    height: 48px;
    background-color: #9ACEEA;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
}

.course-bd {
    /*没有宽度的盒子 padding 不会撑开盒子*/
    padding: 0 15px;
}


.course-bd ul {
/*    因为是个标准流 会出现外边距塌陷的问题
    margin-top: 10px;*/
    padding-top: 10px;
}

.course-bd ul li {
    /*行高 = 高度 只能让单行文本垂直居中 所以不能这么用*/
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;

}

.course-bd ul li h4 {
    color: #4e4e4e;
    font-size: 14px;
}

.course-bd ul li p {
    color: #a5a5a5;
    font-size: 12px;
}

.all {
    /*a是行内元素,没有大小 必须转换成块内元素*/
    display: block;
    height: 38px;
    margin-top: 10px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #00a4ff;
    text-decoration: none;
    font-size: 18px;
    color: #00a4ff;
}

.all:hover {
    background-color: #00a4ff;
    color: white;
}

.goods {
    height: 60px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    /*font- line- text- color 可以继承*/
    /*利用行高可以继承的特性 子盒子全部居中对齐了*/
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin: 0 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods-item {
    float: left;
    color: #bfbfbf;
}

/*a不能继承父类的颜色 所以要自己写颜色 原因暂时不深究*/
.goods-item a {
    margin: 0 30px;
    font-size: 16px;
    color: #050505;
    text-decoration: none;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
